  
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ngkopgAWeathe/Lab10/.vs/Lab10/v16/Server/sqlite3/db.lock
/ngkopgAWeathe/Lab10/.vs/Lab10/v16/Server/sqlite3/storage.ide-shm
/ngkopgAWeathe/Lab10/.vs/Lab10/v16/Server/sqlite3/storage.ide-wal
.vs/